/* Global Styles */
.container {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}

/* Header Styles */
header {
    background: #3498db00;
    color: #131212;
    padding: 5px 0;
    position: relative;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.493);
    display: flex;
    align-items: center;
    justify-content: space-between; /* Space between logo and menu */
}

header .logo {
    height: 100px; /* Adjust height as needed */
}

.menu-toggle {
    display: none; /* Hidden by default, shown on mobile */
}

/* Projects Section */
#projects {
    padding: 50px 0;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

#projects h2 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #2c3e50;
}

.intro-text {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 30px;
    color: #666;
}

.filter-buttons {
    text-align: center;
    margin-bottom: 20px;
}

.filter-button {
    background-color: #34495e;
    color: #ecf0f1;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    border-radius: 8px;
}

.filter-button:hover {
    background-color: #f39c12;
    transform: scale(1.05);
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.project {
    position: relative;
    width: calc(33.333% - 20px);
    margin-bottom: 20px;
    overflow: hidden;
    border: 2px solid #ecf0f1;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.project img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s;
}

.project:hover img {
    transform: scale(1.1);
}

.project h3 {
    text-align: center;
    font-size: 1.5em;
    margin: 10px 0;
    color: #2c3e50;
}

.project p {
    text-align: center;
}

/* Client Experience Section */
#client-experience {
    background: #e8f6f3;
    padding: 30px;
    text-align: center;
    border-radius: 12px;
    margin-bottom: 20px;
    animation: fadeIn 0.5s ease-in;
}

.experience-summary {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.experience-summary li {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px;
    padding: 15px;
    width: 200px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.experience-summary li:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}
.footer {
    width: 100%;
    height: 15rem;
    background-color: #17181b;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer-content {
    width: 60%;
    display: flex;
    justify-content: space-between;
  }
  
  .copyright {
    font-family: "Baloo Da 2", serif;
    font-size: 1.6rem;
    color: #a7a7a7;
  }
  
  .social-list a {
    margin: 0 2rem;
  }
  
  .social-list i {
    font-size: 2rem;
    color: #a7a7a7;
  }
  
/* Responsive Styles */
@media (max-width: 768px) {
    .project {
        width: calc(50% - 20px);
    }

    .menu-toggle {
        display: block; /* Show the menu toggle on mobile */
        margin-left: auto; /* Push the toggle button to the right */
    }

    nav ul {
        display: none; /* Hide the menu initially */
        flex-direction: column;
        background: #34495e;
        position: absolute;
        right: 0;
        top: 60px;
        width: 100%;
        z-index: 1000;
    }

    nav.active ul {
        display: flex; /* Show menu on toggle */
    }
}

@media (max-width: 480px) {
    .project {
        width: 100%;
    }

    nav ul li {
        margin: 10px 0; /* Adjust spacing for mobile */
    }
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
